node-red-data/.flows.json.backup
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Sensor handling",
        "disabled": false,
        "info": ""
    },
    {
        "id": "cb12d8fe7bb6f0c8",
        "type": "mqtt-broker",
        "name": "MQTT mosquitto",
        "broker": "mosquitto",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "09359b25339045b2",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "MQTT bathroom sensor",
        "topic": "/home/sensors/bathroom",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "cb12d8fe7bb6f0c8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 40,
        "wires": [
            [
                "2f07d6e49802024c"
            ]
        ]
    },
    {
        "id": "f88f36602748a35e",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "MQTT bedroom sensor",
        "topic": "/home/sensors/bedroom",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "cb12d8fe7bb6f0c8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 120,
        "wires": [
            [
                "2f07d6e49802024c"
            ]
        ]
    },
    {
        "id": "31d51c6baaa8a0c5",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "MQTT server room sensor",
        "topic": "/home/sensors/server_room",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "cb12d8fe7bb6f0c8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 200,
        "wires": [
            [
                "2f07d6e49802024c"
            ]
        ]
    },
    {
        "id": "2f07d6e49802024c",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "temp & humi conversion",
        "func": "msg.payload.temperature = Number((msg.payload.temperature - 273.15).toFixed(2));\nmsg.payload.humidity = Number((msg.payload.humidity * 100).toFixed(0));\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 120,
        "wires": [
            [
                "f54d8f532aa1ace7"
            ]
        ]
    },
    {
        "id": "33bbaef84939b24e",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "conversion debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 120,
        "wires": []
    },
    {
        "id": "f54d8f532aa1ace7",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "bad value check",
        "func": "let t = msg.payload.temperature;\nlet h = msg.payload.humidity;\n\nlet errors = [];\n\nif (msg.topic === \"/home/sensors/bathroom\") {\n    if (t < 16.5 || t > 29.5) errors.push(\"temperature out of range\");\n    if (h < 50 || h > 85) errors.push(\"humidity out of range\");\n}\n\nif (msg.topic === \"/home/sensors/bedroom\") {\n    if (t < 9.0 || t > 24.5) errors.push(\"temperature out of range\");\n    if (h < 40 || h > 55) errors.push(\"humidity out of range\");\n}\n\nif (msg.topic === \"/home/sensors/server_room\") {\n    if (t < 22 || t > 47) errors.push(\"temperature out of range\");\n    if (h < 30 || h > 45) errors.push(\"humidity out of range\");\n}\n\nmsg.payload.error = errors.length > 0;\nmsg.payload.error_messages = errors;\nmsg.payload.temperature_status = errors.includes(\"temperature out of range\") ? \"ERROR\" : \"OK\";\nmsg.payload.humidity_status = errors.includes(\"humidity out of range\") ? \"ERROR\" : \"OK\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 120,
        "wires": [
            [
                "33bbaef84939b24e"
            ]
        ]
    }
]