node-red-data/.flows.json.backup
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Sensor handling",
        "disabled": false,
        "info": ""
    },
    {
        "id": "cb12d8fe7bb6f0c8",
        "type": "mqtt-broker",
        "name": "MQTT mosquitto",
        "broker": "mosquitto",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "0401f53244209c86",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": 8086,
        "protocol": "http",
        "database": "database",
        "name": "InfluxDB",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://influxdb:8086",
        "timeout": 10,
        "rejectUnauthorized": true
    },
    {
        "id": "09359b25339045b2",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "MQTT bathroom sensor",
        "topic": "/home/sensors/bathroom",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "cb12d8fe7bb6f0c8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 220,
        "wires": [
            [
                "2f07d6e49802024c"
            ]
        ]
    },
    {
        "id": "f88f36602748a35e",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "MQTT bedroom sensor",
        "topic": "/home/sensors/bedroom",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "cb12d8fe7bb6f0c8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 300,
        "wires": [
            [
                "2f07d6e49802024c"
            ]
        ]
    },
    {
        "id": "31d51c6baaa8a0c5",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "MQTT server room sensor",
        "topic": "/home/sensors/server_room",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "cb12d8fe7bb6f0c8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 380,
        "wires": [
            [
                "2f07d6e49802024c"
            ]
        ]
    },
    {
        "id": "2f07d6e49802024c",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "temp & humi conversion",
        "func": "msg.payload.temperature = Number((msg.payload.temperature - 273.15).toFixed(2));\nmsg.payload.humidity = Number((msg.payload.humidity * 100).toFixed(0));\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 300,
        "wires": [
            [
                "f54d8f532aa1ace7",
                "fae5ee1d39925cf7"
            ]
        ]
    },
    {
        "id": "33bbaef84939b24e",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "data formatting debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1200,
        "y": 260,
        "wires": []
    },
    {
        "id": "f54d8f532aa1ace7",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "bad value check",
        "func": "let t = msg.payload.temperature;\nlet h = msg.payload.humidity;\n\nlet error = false;\n\nif (msg.topic === \"/home/sensors/bathroom\") {\n    if (t < 16.5 || t > 29.5 || h < 50 || h > 85) {\n        error = true;\n    }\n}\n\nif (msg.topic === \"/home/sensors/bedroom\") {\n    if (t < 9.0 || t > 24.5 || h < 40 || h > 55) {\n        error = true;\n    }\n}\n\nif (msg.topic === \"/home/sensors/server_room\") {\n    if (t < 22 || t > 47 || h < 30 || h > 45) {\n        error = true;\n    }\n}\n\nmsg.payload.error = error;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 300,
        "wires": [
            [
                "b708488c9a558e06",
                "098b76733946690b"
            ]
        ]
    },
    {
        "id": "b708488c9a558e06",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "data formatting for InfluxDB",
        "func": "let room = msg.topic.split(\"/\").pop();\n\nmsg.payload = [\n    {\n        temperature: msg.payload.temperature,\n        humidity: msg.payload.humidity,\n        error_count: msg.payload.error ? 1 : 0\n    },\n    {\n        room: room\n    }\n];\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 300,
        "wires": [
            [
                "33bbaef84939b24e",
                "5b4c79f42a0b94c7"
            ]
        ]
    },
    {
        "id": "5b4c79f42a0b94c7",
        "type": "influxdb out",
        "z": "f6f2187d.f17ca8",
        "influxdb": "0401f53244209c86",
        "name": "InfluxDB data out",
        "measurement": "sensordata",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "Vives",
        "bucket": "sensordata",
        "x": 1190,
        "y": 340,
        "wires": []
    },
    {
        "id": "098b76733946690b",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "bad value debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 240,
        "wires": []
    },
    {
        "id": "fae5ee1d39925cf7",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "conversion debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 240,
        "wires": []
    }
]